* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-text {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.ml-2,
.mx-2 {
  margin-left: .5rem !important;
}

.ml-1,
.mx-1 {
  margin-left: .25rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}


.app-container {
  display: block;

  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.mb-3 {
  margin-bottom: 14px;
}

.genbtn {
  background: #7878c1 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.downbtn {
  background: #228b22d6 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.sect-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.sect-div input {
  height: 0.4375em !important;
}

.sect-div .heading-text {
  color: #7878c1;
  margin-bottom: 20px;
}

/* navbar here to start */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: cornflowerblue;
  padding: 16px;
  position: sticky;
}

.nav-header .menu-list a {
  text-decoration: none;
  font-size: 15px;
  margin: 13px;
  color: #fff;
}

/* CRUD app here to start */
.bg-g {
  background-color: #4caf50 !important;
}

.bg-r {
  background-color: #e51313 !important;
}

.crud-sec {
  padding: 50px;
  /* width: fit-content; */
  display: block;
  margin: 0 auto;
}

.crud-sec button {
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
}

.input-search input {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.input-search {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  font-size: 14px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

table th {
  background-color: #f2f2f2;
}

/* modal box here to start */
.modal-box {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.modal-box h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

.inputgroup {
  margin-bottom: 10px;
}

.inputgroup label {
  display: block;
  margin-bottom: 5px;
}

.inputgroup input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

/*  */
.homepagetext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.under-img {
  width: 40%;
  height: 40%;
  margin: 50px auto;
  display: block;
}